header{
  background-color: aqua;
  padding: 24px 100px;
}
.headh{
  margin: 0px;
  font-family: 'Times New Roman', Times, serif
  ;
}
.body{
  height: 100px;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* text-align: center; */
  /* height: 900px; */
}
button{
  background-color: #fff;
}
.btnn{
  height: 90px;
}
.chartbody{
  display: flex;
}
.chartleft{
  width: 50%;
}
.chartright{
  width: 50%;
}
.dashboard{
  background-color: #3c73ff;
  position: fixed;
  right: 20px;
  top: 40px;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 20px;
}
.app{
  margin: auto;

}
/* form{
  text-align: center;
} */

.btn{

  background-color: #3c73ff;
  color: #3c73ff;
}
#fixedbtn{
  background-color: aqua;
  color: black;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  border: 2px solid #3c73ff;
  transition: .3s;
}
#fixedbtn:hover{
  box-shadow: 8px 8px #99bdff;
  transition: .3s;
}